@import "tailwindcss";
@import "./font.css";

@theme {
  /* Fonts */
  --font-general: "General", sans-serif;
  --font-circular: "Circular Web", sans-serif;
  --font-robert-medium: "Robert Medium", sans-serif;
  --font-robert-regular: "Robert Regular", sans-serif;
  --font-zentry: "Zentry", sans-serif;

  /* Colors */
  --color-blue-50: #dfdff0;
  --color-blue-75: #dfdff2;
  --color-blue-100: #f0f2fa;
  --color-blue-200: #010101;
  --color-blue-300: #4fb7dd;
  --color-violet-300: #5724ff;
  --color-yellow-100: #8e983f;
  --color-yellow-300: #edff66;
}
