@import "tailwindcss";

@layer components {
  button {
    @apply font-general font-semibold uppercase tracking-wide text-black bg-violet-50 cursor-pointer rounded-full;
  }

  a:hover {
    @apply cursor-default;
  }
}

@layer utilities {
  .audio-indicator {
    @apply w-px h-[3px] bg-blue-75;
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
  }

  .hero-heading {
    @apply text-[180px] font-zentry uppercase leading-none;
  }

  .video-center {
    @apply origin-center object-cover object-center;
  }

  .about-image {
    @apply absolute top-20 left-1/2 translate-x-[-50%] h-[65vh] w-[50vw] md:w-[30vw] overflow-hidden rounded-3xl;
  }

  .about-subtext {
    @apply absolute bottom-25 left-1/2 translate-x-[-50%] w-[300px] md:w-[500px] font-circular text-sm;
  }

  .nav-header {
    transition: background-color 1.2s ease-in-out 450ms;
  }

  .mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .story-image {
    clip-path: polygon(34% 18%, 75% 13%, 78% 60%, 22% 65%);
    transition: clip-path 800ms ease-in-out;

    img {
      object-position: 35%;
    }

    @variant md {
      clip-path: polygon(21% 12%, 75% 24%, 91% 63%, 23% 73%);

      img {
        object-position: 25%;
      }
    }

    @variant xl {
      clip-path: polygon(24% 16%, 73% 24%, 88% 68%, 18% 84%);

      img {
        object-position: left;
      }
    }
  }

  .contact-image-fire {
    clip-path: polygon(14% 0%, 80% 0%, 76% 77%, 20% 97%);
  }

  .contact-image-stone {
    clip-path: polygon(23% 1%, 85% 32%, 98% 100%, 0% 78%);

    @variant sm {
      clip-path: polygon(36% 0%, 84% 28%, 77% 125%, 0% 93%);
    }
  }

  .contact-image-swordsman {
    clip-path: polygon(28% 7%, 95% 26%, 77% 91%, 10% 84%);

    @variant sm {
      clip-path: polygon(22% 0%, 100% 16%, 75% 100%, 0% 96%);
    }
  }

  .special-font b {
    font-feature-settings: "ss01" on;
  }

  .animated-title {
    transform: translate3d(-100px, 30px, 20px) rotateX(-12deg) rotateY(50deg);
    opacity: 0;
  }
}
